.analytics-container {
  background-color: white ; /* light green-tinted background */
  padding: 2rem;
  min-height: 100vh;  
}

.analytics-container h2, h3 {
  margin-top: 2rem;
  color: #333;
}

.analytics-container select {
  padding: 0.5rem;
  margin-left: 0.5rem;
}
.header-wrapper {
  padding-top: 0; /* or 0 */
 
}


